
/* .container{
  background-color: blue;
  width: 100vh;
  height: 100vh;
} */  











.show {
  position: absolute;
  z-index: 1000;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
  margin: 0 auto;
  height: 50%;
  margin-top: 100px;
  
  }
  
  .hide {
  opacity: 0;
  pointer-events: none;
  }


 .modal-box-update{
  width: 92%;
    max-width: 60rem;
 }