
/* .container{
  background-color: blue;
  width: 100vh;
  height: 100vh;
} */  
.App {
  text-align: center;
}


.container{
  width: 100%;
  height: 100%;
}







.show {
  position: absolute;
  z-index: 1000;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
  margin: 0 auto;
  height: 50%;
  margin-top: 100px;
  margin-left: 260px;
  }
  
  .hide {
  opacity: 0;
  pointer-events: none;
  }